<section class="card">
  <a href="/recipe/{{id}}">
    <header>{{recipe.name}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>Serves: {{recipe.servings}}</p>
    </div>
  </a>
</section>