<section class="card">
  <a href="/recipe/{{id}}">
    <header class="recipe-header">{{title}}</header>
    <div class="card-body">
      <img class="food-img-2" src={{image}} alt="">
      {{#if extendedIngredients}}
      <p>Ingredients:</p>
      <ul>
        <li>{{extendedIngredients.original}}</li>
      </ul>
      <p>Instructions:</p>
      <p>{{instructions}}</p>
      {{/if}}
    </div>
  </a>
</section>