<section class="card">
  <a href="/recipe/{{id}}">
    <header class="recipe-header">{{title}}</header>
    <div class="card-body">
      <img class="food-img-2" src={{recipeImage}} alt="">
      <p>Serves: {{servings}}</p>
      <p>Cuisine: {{cuisine}}</p>
      <p>Ingredients:</p>
      <ul>
        <li>{{ingredients}}</li>
      </ul>
      <p>Instructions:</p>
      <p>{{instructions}}</p>
    </div>
  </a>
</section>