<h3>Choose Your Destination</h3>
<section class="card">
 <header>American</header>
  <a href="/recipes/{{data.cuisine}}">
    <div class="card-body">
      <img src='https://img.freepik.com/free-photo/crispy-fried-chicken-plate-with-salad-carrot_1150-20212.jpg?w=1380&t=st=1686696792~exp=1686697392~hmac=4c71f4d9ef7190c3f62656f9e666242475b5d5d7aaa0858a78e7363d8d9fd7de' alt="fried chicken" />
    </div>
  </a>
</section>

<section class="card">
  <header>Asian</header>
  <a href="/recipes/{{data.cuisine}}">
    <div class="card-body">
      <img src="https://img.freepik.com/free-photo/stir-fry-chicken-zucchini-sweet-peppers-green-onion_2829-10786.jpg?w=996&t=st=1686696856~exp=1686697456~hmac=1441a690f323c24478cc1bcafc3484bc6ee94e3462d0017dc9bd4c0f14ef017b" alt="pan of stir fry chicken" />
    </div>
  </a>
</section>

<section class="card">
  <header>Indian</header>
  <a href="/recipes/{{data.cuisine}}">
    <div class="card-body">
      <img src="https://img.freepik.com/free-photo/delicious-indian-food-tray_23-2148723505.jpg?w=900&t=st=1686696880~exp=1686697480~hmac=3f39868d5008e11180ddd3ce4c0c879b6d0e3772cbab2e2c6fe450bd8467bb67" alt="tray of indian food" />
    </div>
  </a>
</section>

<section class="card">
 <header>Italian</header>
 <a href="/recipes/{{data.cuisine}}">
    <div class="card-body">
      <img src="https://img.freepik.com/free-photo/closeup-tasty-italian-ravioli_1220-5142.jpg?w=1060&t=st=1686696918~exp=1686697518~hmac=bdd376f9ebef506551e473f50017bd4d8b12f0bac2ce1219b55e8d82976cf6b3" alt="plate of penne pasta" />
    </div>
  </a>
</section>

<section class="card">
  <header>Mediterranean</header>
  <a href="/recipes/{{data.cuisine}}">
    <div class="card-body">
      <img src="https://img.freepik.com/free-photo/hot-spicy-stew-eggplant-sweet-pepper-olives-capers-with-basil-leaves_2829-6433.jpg?w=900&t=st=1686696962~exp=1686697562~hmac=8c51242938866c47cbf4497559220f8e1e7821e015f6107c4d4cff25d9c37b79" alt="mediterranean spread" />
    </div>
  </a>
</section>

<section class="card">
  <header>Mexican</header>
  <a href="/recipes/{{data.cuisine}}">
    <div class="card-body">
      <img src="https://img.freepik.com/free-photo/delicious-tacos-wooden-board-high-angle_23-2148629324.jpg?w=1060&t=st=1686696998~exp=1686697598~hmac=22a2480112e627cb56386a616e07e4ba9b31dad042e4993e9da5a5d781d653fc" alt="hands holding taco" />
    </div>
  </a>
</section>

<section class="card">
           
    <header>Not sure what you want to eat? Let us choose!</header>
    <a href=""></a>
    <button id="auto-feed">You Feed Me!</button>
    <div class="card-body">
      <img src="/images/{{data.filename}}" alt="{{data.description}}">
    </div>
    </a>
</section>