<h3>Choose Your Destination</h3>
<section class="card">
  <a href="/recipes/{{cuisine}}">
    <header>American</header>

    <div class="card-body">
      <img src="/assets/crispy-fried-chicken-plate-with-salad-carrot.jpg" alt="fried chicken">
    </div>
  </a>
</section>

<section class="card">
  <a href="/recipes/{{cuisine}}">
    <header>Asian</header>

    <div class="card-body">
      <img src="/assets/stir-fry-chicken-sweet-peppers-green-beans.jpg" alt="pan of stir fry chicken">
    </div>
  </a>
</section>

<section class="card">
  <a href="/recipes/{{cuisine}}">
    <header>Indian</header>

    <div class="card-body">
      <img src="/assets/delicious-indian-food-tray.jpg" alt="tray of indian food">
    </div>
  </a>
</section>

<section class="card">
 <a href="/recipes/{{cuisine}}">
    <header>Italian</header>

    <div class="card-body">
      <img src="/assets/penne-pasta-tomato-sauce-with-chicken-tomatoes-wooden-table.jpg" alt="plate of penne pasta">
    </div>
  </a>
</section>

<section class="card">
  <a href="/recipes/{{cuisine}}">
    <header>Mediterranean</header>

    <div class="card-body">
      <img src="/assets/outdoor-lunch-with-salads-olives-bread.jpg" alt="mediterranean spread" />
    </div>
  </a>
</section>

<section class="card">
  <a href="/recipes/{{cuisine}}">
    <header>Mexican</header>

    <div class="card-body">
      <img src="/assets/top-view-taco-with-meat-veggies-held-hand.jpg" alt="hands holding taco">
    </div>
  </a>
</section>