<section class="container">
    <section class="flex-row justify-center">
        <img class="food-img-3" src={{data.image}} alt="recipe image">
        <h3 class="recipe-header">{{data.title}}</h3>
        <p class="summary">{{data.summary}}</p>
    </section>
    <section class="details"> 
      <div class="ingredients">
      <h4 class="recipe-sub-header">Ingredients:</h4>
      {{#each data.extendedIngredients as |ingredient|}}
      <div class="">
        <ul>
          <li>{{ingredient.original}}</li>
        </ul>
      </div> 
      {{/each}}
      </div>
      <div class="instructions">
      <h4 class="recipe-sub-header">Instructions:</h4>
     <p class="">{{data.instructions}}</p>
     <button type="submit" class="btn" id="add-recipe" value="add-recipe">Add to Favorites</button>
    </div>
  </section>
  </section>
</section>
