<section class="container">
    <section class="flex-row justify-center">
    <img class="food-img-3" src={{data.recipes.[0].image}} alt="recipe image">
    <h3 class="recipe-header">{{data.recipes.[0].title}}</h3>
    <p class="summary">{{data.recipes.[0].summary}}</p>
  </section>
<section class="details"> 
    <div class="ingredients">
      <h4 class="recipe-sub-header">Ingredients:</h4>
      {{#each data.recipes.[0].extendedIngredients as |ingredient|}}
      <div class="">
        <ul>
          <li>{{ingredient.original}}</li>
        </ul>
      </div> 
      {{/each}}
       </div>
      <div class="instructions">
      <h4 class="recipe-sub-header">Instructions:</h4>
     <p class="">{{data.recipes.[0].instructions}}</p>
    </div>
  </section>
  </section>
</section>

  
<script src="/js/autofeed.js"></script> 
